In [1]:
import pandas as pd

import io
import zipfile
import requests

from shapely.geometry import Point


%matplotlib inline

In [2]:
zf = zipfile.ZipFile(file="NaPTANcsv.zip")

In [3]:
df = pd.read_csv(zf.open('Stops.csv'), encoding='windows-1252')

C:\Users\mikel\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1,2,5,6,7,9,11,12,13,15,20,21,22,23,24,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,ATCOCode,NaptanCode,PlateCode,CleardownCode,CommonName,CommonNameLang,ShortCommonName,ShortCommonNameLang,Landmark,LandmarkLang,...,TimingStatus,DefaultWaitTime,Notes,NotesLang,AdministrativeAreaCode,CreationDateTime,ModificationDateTime,RevisionNumber,Modification,Status
0,0100053316,bstjpdm,NaN,NaN,Broad Walk Shops,en,NaN,NaN,NaN,NaN,...,OTH,NaN,NaN,NaN,9,2017-07-25T15:33:15,2017-07-17T14:41:57,24,del,del
1,0100053264,bstmjdp,NaN,NaN,Alberton Road,en,NaN,NaN,NaN,NaN,...,OTH,NaN,NaN,NaN,9,2017-07-25T15:33:15,2017-07-17T14:26:49,9,del,del
2,0100053308,bstgtgj,NaN,NaN,Counterslip,en,NaN,NaN,NaN,NaN,...,OTH,NaN,NaN,NaN,9,2017-07-25T15:33:15,2017-07-17T14:46:28,12,del,del
3,0100053306,bstapjm,NaN,NaN,Risdale Road,en,NaN,NaN,NaN,NaN,...,OTH,NaN,NaN,NaN,9,2017-07-25T15:33:15,2017-07-04T15:11:27,18,del,del
4,010000015,bstpgpa,NaN,NaN,Kings Head Lane,en,NaN,NaN,NaN,NaN,...,OTH,NaN,NaN,NaN,9,2017-07-25T15:33:15,2017-07-17T14:38:04,57,del,del

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433450 entries, 0 to 433449
Data columns (total 43 columns):
ATCOCode                   433450 non-null object
NaptanCode                 405889 non-null object
PlateCode                  43432 non-null object
CleardownCode              2 non-null float64
CommonName                 433450 non-null object
CommonNameLang             132594 non-null object
ShortCommonName            90996 non-null object
ShortCommonNameLang        27921 non-null object
Landmark                   299101 non-null object
LandmarkLang               55663 non-null object
Street                     421977 non-null object
StreetLang                 121966 non-null object
Crossing                   102724 non-null object
CrossingLang               7197 non-null object
Indicator                  400171 non-null object
IndicatorLang              131280 non-null object
Bearing                    411416 non-null object
NptgLocalityCode           433450 non-null object
LocalityName               433450 non-null object
ParentLocalityName         194420 non-null object
GrandParentLocalityName    10160 non-null object
Town                       158236 non-null object
TownLang                   8253 non-null object
Suburb                     69723 non-null object
SuburbLang                 8249 non-null object
LocalityCentre             430780 non-null float64
GridType                   418873 non-null object
Easting                    433450 non-null int64
Northing                   433450 non-null int64
Longitude                  433450 non-null float64
Latitude                   433450 non-null float64
StopType                   433450 non-null object
BusStopType                414860 non-null object
TimingStatus               417549 non-null object
DefaultWaitTime            0 non-null float64
Notes                      34451 non-null object
NotesLang                  10864 non-null object
AdministrativeAreaCode     433450 non-null int64
CreationDateTime           433450 non-null object
ModificationDateTime       433449 non-null object
RevisionNumber             433450 non-null int64
Modification               398433 non-null object
Status                     433450 non-null object
dtypes: float64(5), int64(4), object(34)
memory usage: 142.2+ MB

In [6]:
df.isna().sum()

ATCOCode                        0
NaptanCode                  27561
PlateCode                  390018
CleardownCode              433448
CommonName                      0
CommonNameLang             300856
ShortCommonName            342454
ShortCommonNameLang        405529
Landmark                   134349
LandmarkLang               377787
Street                      11473
StreetLang                 311484
Crossing                   330726
CrossingLang               426253
Indicator                   33279
IndicatorLang              302170
Bearing                     22034
NptgLocalityCode                0
LocalityName                    0
ParentLocalityName         239030
GrandParentLocalityName    423290
Town                       275214
TownLang                   425197
Suburb                     363727
SuburbLang                 425201
LocalityCentre               2670
GridType                    14577
Easting                         0
Northing                        0
Longitude                       0
Latitude                        0
StopType                        0
BusStopType                 18590
TimingStatus                15901
DefaultWaitTime            433450
Notes                      398999
NotesLang                  422586
AdministrativeAreaCode          0
CreationDateTime                0
ModificationDateTime            1
RevisionNumber                  0
Modification                35017
Status                          0
dtype: int64

In [7]:
df = df[['ATCOCode', 'CommonName', 'StopType', 'Status', 'Latitude', 'Longitude']]

In [8]:
df["StopType"].unique()

array(['BCT', 'FTD', 'RSE', 'BCS', 'TMU', 'AIR', 'BCE', 'TXR', 'STR',
       'BCQ', 'RLY', 'RPL', 'GAT', 'FBT', 'FER', 'MET', 'PLT'],
      dtype=object)

In [9]:
df["Status"].unique()

array(['del', 'act', 'pen', 'new'], dtype=object)

In [10]:
df = df[df.StopType.isin({'GAT', 'FER', 'RLY', 'MET','BST', 'LCB', 'BCT'})]

In [11]:
import geopandas as gpd

ImportError: DLL load failed: The specified module could not be found.